apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - configmap.yaml
  - serviceaccount.yaml

labels:
  - pairs:
      app.kubernetes.io/name: mlflow
      app.kubernetes.io/component: tracking-server
      app.kubernetes.io/part-of: mlops-platform
    includeSelectors: false
