apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namePrefix: dev-

labels:
  - pairs:
      environment: dev
    includeSelectors: false

patches:
  - patch: |
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: mlflow-server
  - patch: |
      - op: replace
        path: /data/artifact_root
        value: s3://mlflow-artifacts-dev
    target:
      kind: ConfigMap
      name: mlflow-config
