apiVersion: v1
kind: Service
metadata:
  name: {{ include "mlflow.fullname" . }}-server
  labels:
    {{- include "mlflow.labels" . | nindent 4 }}
    app.kubernetes.io/component: server
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
  selector:
    {{- include "mlflow.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: server
