apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: dev

configMapGenerator:
  - name: kubeflow-config
    behavior: merge
    literals:
      - bucket_name=kubeflow-pipelines-dev
